.History-Youssef {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

html {background-color: rgb(255, 238, 145)}

.Head-Title {
    font-family: 'Times New Roman', Times, serif; 
    font-style: italic;
    font-weight: 1300;
    background-color: rgb(255, 238, 145);
    bottom: 80%;
    text-align: center;
}

.Head-Title img {
  float: justify;
  position: relative;
  width: 50px;
  height: 50px;
  margin-right: 2px;
  margin-top: 15px;
}


.FirstDirections {
    font-family: 'Times New Roman', Times, serif;
    background-color: rgb(255, 238, 145);
    font-style: oblique;
    font-weight: 600;
    margin-left: 10px;

}

.Pic-Choice{
    
    background-color: rgb(255, 238, 145);

}

.Pic-Question1{
    margin-left: 20px;
    font-family: 'Times New Roman', Times, serif;
}

.Pic-Question2{
    margin-left: 20px;
    font-family: 'Times New Roman', Times, serif;
}


.Sound-Question{
    
    background-color: rgb(255, 238, 145);

}

.Sound-Question1{
    
    margin-left: 20px;
    font-family: 'Times New Roman', Times, serif;

}

.George{
    width: 200px;
    height: 200px;
    transition: transform .2s;
}

.George:hover{
    transform: scale(1.2);
 }

.Abe{
    width: 200px;
    height: 200px;
    transition: transform .2s;
}

.Abe:hover{
     transform: scale(1.2);
 }
 
.Ben{
    width: 200px;
    height: 200px;
    transition: transform .2s;
}

.Ben:hover{
     transform: scale(1.2);
 }

.Samurai{
    width: 200px;
    height: 200px;
    transition: transform .2s;
}

.Samurai:hover{
    transform: scale(1.2);
 }

.Pirates{
    width: 200px;
    height: 200px;
    transition: transform .2s;
}

.Pirates:hover{
    transform: scale(1.2);
 }

.Egyptians{
    width: 200px;
    height: 200px;
    transition: transform .2s;
}

.Egyptians:hover{
    transform: scale(1.2);
 }

.Piano{
    transition: transform .2s;
    width: 300px;
    height: 300px;
    float: right;
}

.RadioButton_Q3_2{
    float: right;
}

.Piano:hover{
    transform: scale(1.2);
}

.Flute{
    transition: transform .2s;
    width: 300px;
    height: 300px;
}

.Flute:hover{
    transform: scale(1.2);
}

.Trumpet{
    transition: transform .2s;
    width: 300px;
    height: 300px;
    margin-top: 100pt;
}

.Trumpet:hover{
    transform: scale(1.2);
}

.text-center {
    text-align: justify;
  }

.FirstSectionSubmit{
    border-color: black;
    border-radius: 15px;
    background-color:lightskyblue;

}
